body {
    background: linear-gradient(to bottom, #ff0000, #ff0000);
    overflow: clip;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  canvas {
    position: fixed;
    inset: 0;
    z-index: 1;
    filter: blur(1px);
  }
  
  h1 {  
    font-family: "Rowdies", sans-serif;
    font-weight: 80;
    color: #ffaa;
    font-size: 9vw;
    margin: 0;
    opacity: 0.8;
    pointer-events: none;
    user-select: none;
    position: relative;
    z-index: 2;
    animation: textShadowRotate 5s infinite linear;
  }
  
  h2 {  
    font-family: "Rowdies", sans-serif;
    font-weight: 5;
    color: #ffaa;
    font-size: 8vw;
    margin: 0;
    opacity: 0.8;
    pointer-events: none;
    user-select: none;
    position: relative;
    z-index: 3;
    animation: textShadowRotate 5s infinite linear;
  }
  
  
  
  @media (max-width: 768px) {
    h2 {
      font-weight: 1;
      font-size: 8vw;
    }
  
    h1 {
      font-weight: 800;
      font-size: 9vw;
    }
  }
  
  
  @keyframes textShadowRotate {
    0% {
      text-shadow: 5px 5px 20px rgb(255, 100, 100), -5px -5px 10px rgb(0, 255, 0);
    }
    25% {
      text-shadow: 5px -5px 10px rgb(0, 255, 255), -5px 5px 20px rgb(255, 100, 255);
    }
    50% {
      text-shadow: -5px -5px 20px rgb(0, 0, 255), 5px 5px 10px rgb(255, 255, 0);
    }
    75% {
      text-shadow: -5px 5px 10px rgb(255, 0, 255), 5px -5px 20px rgb(0, 255, 255);
    }
    100% {
      text-shadow: 5px 5px 20px rgb(255, 100, 100), -5px -5px 10px rgb(0, 255, 0);
    }
  }
  